{% extends "layout.html" %}

{% block title %}
    Complaints
{% endblock %}

{% block main %}
            <div class="delete">
                <h2 style="text-align: center; margin-bottom: 10px;">All Complaints</h2>
                <p style="color: green; text-align: center; margin-bottom: 10px;">{{ success }}</p>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Complaint</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                <td>{{ row["id"] }}</td>
                                <td>{{ row["firstname"] }}</td>
                                <td>{{ row["lastname"] }}</td>
                                <td>{{ row["complaint"] }}</td>
                                {% if row["status"] == "Resolved" %}
                                    <td class="primary">{{ row["status"] }}</td>
                                {% else %}
                                    <td class="warning">{{ row["status"] }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- <a href="#" class="">Show all</a> -->
            </div>
{% endblock %}
